@import url('https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap');

$background: #fff;
$color: #303030;
$logo-color: #ff0000;
$primary : #f53022;
$secondary : #fff;

$border-radius: 14px;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    background: $background;
}

.main-nav {
    width: 80vw;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;

    color: $color;

    .logo {
        width: 30%;
    }
    .navbar {
        width: 70%;
    }
}

.navbar {
    list-style-type: none;

    li {
        width: 25%;
        float: left;
        position: relative;

        font-size: 1.3rem;
        text-align: center;

        a {
            color: $color;
            text-decoration: none;
        }

        &.active::before, &:hover::before {
            content: '';
            width: .4rem;
            height: .4rem;
            position: absolute;
            bottom: -.7rem;
            left: calc(50% - .4rem);

            background: $color;
            border-radius: 50%;
        }
        
        &:hover::before {
            background: lighten($color, 15%);
        }

        &:last-child{
            color: lighten($primary, 10%);
        }
    }
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: $logo-color;
}

.logo-text {
    font-weight: 900;
    color: $logo-color;
}

#content {
    width: 80vw;
    min-height: calc(100vh - 20rem);
    margin: 0 auto;
    padding: 0 7.5%;
    
    &.content-rowed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}

.description {
    width: 100%;

    p {
        width: 70%;
        margin: 2rem 0;

        font-size: 1.7rem;
        color: lighten($color, 15%);
    }

}

.title-big {
    margin: 2rem 0;

    font-size: 3rem;
}

.title-md {
    margin: 1.5rem 0;

    font-size: 2.2rem;
}

.callAction {
    width: 12rem;
    height: 4rem;

    background: $primary;
    border: none;
    border-radius: $border-radius;
    font-size: 1.3rem;
    color: $secondary;

    &:hover {
        background: darken($primary, 10%);
    }
}

.cover-image {
    width: 100%;

    position: relative;

    img {
        width: 100%;
    }

    figcaption {
        width: 18rem;
        position: absolute;
        bottom: -1rem;
        right: -3rem;
        padding: 2rem 1.4rem;

        background: rgba($primary, .9);
        border-radius: $border-radius;
        font-size: 1.1rem;
        color: lighten($color, 100%);
        
    }
}

.cards {
    margin: 6rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


    .card {
        flex: 0 0 40%;
        min-height: 35rem;
        margin: 2rem 5%;
        padding: 2rem 1.5rem;
        

        border: 1px solid $color;
        border-radius: $border-radius;

        figure {
            margin: 2rem 0;
            img {
                display: block;
                width: 80%;
                margin: 0 auto;
            }

            figcaption {
                padding: 0 2rem;

                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}

.buy-button {
    width: 8rem;
    margin-left: 2rem;
    padding: calc(1rem + 2px) 0;

    background: $background;
    color: $color;
    border: 1px solid $color;
    border-radius: $border-radius;
    font-size: 1.2rem;

    &:hover {
        background: darken($background, 5%);
    }
}

.hot-scale {
    display: inline-block;
    margin-left: 2rem;
    padding: 1rem 2rem;

    border-radius: $border-radius;
}

.hot-scale-1 {
    background: rgba(#75e307, .3);
    border: 4px dashed #75e307;    
}

.hot-scale-2 {
    background: rgba(#eeff00, .3);
    border: 4px dashed #eeff00;    
}

.hot-scale-3 {
    background: rgba(#fcd303, .3);
    border: 4px dashed #fcd303;
}

.hot-scale-4 {
    background: rgba(#ff8800, .3);
    border: 4px dashed #ff8800;
}

.hot-scale-5 {
    background: rgba(#ff0000, .3);
    border: 4px dashed #ff0000;
}

.img-md {
    width: 100%;
    margin: 5rem 0;
}

.img-round {
    border-radius: 50%;
}

.contact {
    grid-column: 1/3;
    margin: 4rem 0;

    label {
        display: inline-block;
        width: 12rem;
        height: 2rem;
        margin: .7rem 0;

        font-size: 1.4rem;
    }

    input {
        width: 16rem;
        height: 2rem;
    }

    textarea {
        margin-left: 12rem;
    }

    [type=submit] {
        width: 12rem;
        height: 2.5rem;
        margin: 2rem 0;

        background: $primary;
        border: none;
        border-radius: $border-radius;
        font-size: 1.3rem;
        color: $secondary;

        &:hover {
            background: darken($primary, 10%);
        }
    }
}

.footer {
    width: 80vw;
    height: 14rem;
    margin: 0 auto;
    padding: 0 7.5%;

    .keypoint {
        float: left;
        width: 7.5rem;
        height: 7.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 4rem;

        font-size: 1rem;
        border-radius: $border-radius;
        box-shadow: 0 0 4px $color;

        img {
            width: 2.4rem;
            margin-bottom: 1rem;
        }
    }
}


/* --------- PRINT --------- */

@media print {

    .main-nav, img, .footer {
        display: none;
    }

    #content.content-rowed {
        display: block;
    }

    .cards {
        display: block;
        
        .card {
            width: 100%;

            .buy-button {
                display: none;
            }
        }
    }

    .contact {
        display: none;
    }

}

/* --------- MEDIA --------- */

@media only screen and (min-width : 320px)  and (max-width : 1024px) {

    :root {
        font-size: .8rem;
    }

    .main-nav {
        width: 100%;

        #phone {
            display: none;
        }
    }

    .navbar li {
            width: 33%;
    }

    #content {
        width: 100%;
        padding: 0 5%;

        &.content-rowed {
            display: block;
        }
    }

    .description {

        text-align: center;
    
        p {
            width: 100%;
            margin: 2rem 0;

            font-size: 1rem;
        }
    } 

    .cover-image figcaption {
        position: static;
        margin: 2rem auto;

        text-align: center;
    }

    .cards .card {
        flex-grow: 1;
    }

    .hot-scale {
        display: block;
        width: 14rem;
        margin: 0 auto;

        text-align: center;
    }

    .buy-button {
        display: block;
        margin: 1rem auto;
    }

    .contact {
        text-align: center;
        
        textarea {
            margin: 0;
        }
    }

    .footer {
        width: 100%;
        height: 10rem;
        padding: 0 2rem;

        .keypoint {
            width: 5rem;
            height: 5rem;
            margin-right: 3.4rem;

            font-size: .7rem;
            
            &:first-child {
                margin-left: 2rem;
            }

            &:last-child {
                margin: 0;
            }

            img {
                    width: 2rem;
                    margin-bottom: .2rem;
            }
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

    :root {
        font-size: 1rem;
    }
    
    .cards .card {
        flex-basis: 90%;
    }

}
