$background: #fff;
$color: #303030;

$logo-color: #f53022;

$primary : #f53022;
$secondary : #fff;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: $background;
}

.main-nav {
    width: 80vw;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;

    color: $color;

    .logo-text {
        width: 30%;
    }
    .navbar {
        width: 70%;
    }
}

.navbar {
    list-style-type: none;

    li {
        width: 25%;
        float: left;

        font-size: 1.3rem;
    }
}

.logo-text {
    font-size: 2rem;
    text-align: center;
    color: $logo-color;
}

#content {
    width: 80vw;
    height: calc(100vh - 20rem);
    margin: 0 auto;
    padding: 0 7.5%;
    display: flex;
    align-items: center;
}

.description {
    width: 40%;

    p {
        margin: 2rem 0;

        font-size: 1.7rem;
    }

}

.title-big {
    margin: 2rem 0;

    font-size: 3rem;
}

.callAction {
    width: 12rem;
    height: 4rem;

    background: $primary;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    color: $secondary;
}

.cover-image {
    width: 60%;

    position: relative;

    img {
        width: 90%;
    }

    figcaption {
        width: 18rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: 2rem 1.4rem;

        background: $primary;
        border-radius: 15px;
    }
    
}

.footer {
    width: 80vw;
    height: 14rem;
    margin: 0 auto;
    padding: 0 7.5%;

    .keypoint {
        float: left;
        width: 7.5rem;
        height: 7.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 4rem;

        font-size: 1rem;

        border: .5px solid $color;
        border-radius: 14px;

        img {
            width: 2.4rem;
            margin-bottom: 1rem;
        }
    }
}