$font: 'Helvetica';

$text-color: #303030;
$border-color: #888;

$primary-color: #fff;
$secondary-color: #acff5e;
$inverse-bg: #303030;
$inverse-text: #fff;

$logo-color: #84ba47;

%content-box {
    margin: 10px auto;

    border: 1px solid $border-color;
    border-radius: 2px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: $font;
}

.navbar {
    width: 100%;
    
    display: flex;
    padding: 10px;

    background: darken($primary-color, 1%);
    box-shadow: 0 3px 10px #888888;
}

.logo {
    display: inline;

    width: 300px;

    margin: 0;

    font-size: 2.9rem;
    text-align: center;

    color: $logo-color;
}

.nav-list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    .nav-item {
        height: 100%;

        padding: 15px 20px;
        float: left;

        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $text-color;

        &:hover {
            background: rgba($secondary-color, 0.7);
        }
    }
}

.container {
    width: 80vw;

    margin: 0 auto;
    padding: 50px 0;
}

.main-content {
    @extend %content-box;
    
    width: calc(100% - 20px);
}

.secondary-content {
    @extend %content-box;

    width: 30%;
}

.img-full {
    width: 100%;
}

.img-small {
    width: 100%;
}

.description {
    width: 90%;

    margin: 15px auto;

    font-size: 1.1rem;
    color: $text-color;
}

.row {
    display: flex;
    align-items: flex-start;
    
    .main-content, .secondary-content { 
        margin: 10px 10px;
    }
}

.footer {
    width: 100%;
    min-height: 100px;

    padding: 30px 0;

    text-align: center;
    font-size: 1.2rem;
    background: $inverse-bg;
    color: $inverse-text;

}